.bar{
    color: navajowhite;
    background-color: #773388;
    width: 100%;
    /* font-weight: bold; */
}

.menuIcon{
    color: navajowhite;
}

.logo{
    font-family: Girassol, cursive;
    /* color: blue; */
}

.navlink, .loginlink, .logoutlink{
    color: #e6b276;
    border-top: 2px solid #773388;
    border-bottom: 2px solid #773388;
    /* font-family: Raleway; */
}

.navlink:hover{
    color: navajowhite;
    border-top: 2px solid #ffdead;
    border-bottom: 2px solid navajowhite;
    border-radius: 5px;
}

.loginlink:hover{
    color: mediumseagreen;
    border-top: 2px solid mediumseagreen;
    border-bottom: 2px solid mediumseagreen;
    border-radius: 5px;
}

.logoutlink:hover{
    color: red;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-radius: 5px;
}